.css {
	font-family: "黑体";
	font-size: 9pt;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #3379C6;
	border: thin inset #A3DDF3;
}
.css2 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.css3 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: 78B2F2;
	background-position: center center;
}
.css4 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.css5 {
	font-family: "宋体";
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
}
.css6 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: 12pt;
	font-weight: bold;
	color: 666666;
	text-decoration: none;
}
.css7 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: 13px;
	font-weight: normal;
	color: 6666666;
	text-decoration: none;
}
.css8 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: normal;
	font-weight: normal;
	color: #FF6600;
	text-decoration: none;
}
.css9 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.css10 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #bb781e; TEXT-DECORATION: none
}
A:hover {
	COLOR: #bb781e; TEXT-DECORATION: none
}
.css11 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: 25px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.css12 {
	font-family: "宋体";
	font-size: 9pt;
	line-height: normal;
	font-weight: normal;
	color: #14339C;
	text-decoration: none;
}
.top {
	font-family: "宋体";
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.css13 {
	font-family: "宋体";
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
}
.button {
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	background-color: #E8E8E8;
}
