body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;background-image: url(<%=Constants.PREFIX%>/images/back.gif);}
.td {FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "ו"; TEXT-DECORATION: none}
A:link {COLOR: #1372bf; TEXT-DECORATION: none}
A:visited {COLOR: #336699; TEXT-DECORATION: none}
A:active {COLOR: #139022; TEXT-DECORATION: none}
A:hover {COLOR: #bb781e; TEXT-DECORATION: none}
.td1 {FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "ו"; TEXT-DECORATION: none}
.td1 {FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "ו"; TEXT-DECORATION: none}
