body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
h2{
	margin: 10px 0;
	font-size: 24px;
	font-weight: bold;
}

.td1 {
	font-weight: normal;
	font-size: 9pt;
	color: #000000;
	line-height: 20px;
	font-family: "ו";
	text-decoration: none;
}
td {
	font-weight: normal;
	font-size: 9pt;
	color: #000000;
	line-height: 20px;
	font-family: "ו";
	text-decoration: none;
}