TABLE,TR,TD,BR,P,OPTION,BODY {
	FONT-SIZE: 9pt;
}
body {
	font-size: 12px;
	color: #000000;
	SCROLLBAR-FACE-COLOR: #0061BA;
    SCROLLBAR-HIGHLIGHT-COLOR: #78B2F2;
    SCROLLBAR-SHADOW-COLOR: #0061BA;
    SCROLLBAR-3DLIGHT-COLOR: #78B2F2;
    SCROLLBAR-ARROW-COLOR: #78B2F2;
    SCROLLBAR-TRACK-COLOR: #78B2F2;
    SCROLLBAR-DARKSHADOW-COLOR: #0061BA
}
.css {
	font-family: "ו";
	font-size: 10pt;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.css1 {
	font-family: "ו";
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 25px;
}
.css2 {
	font-family: "ו";
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
